/* ================================ */
/* Reset ========================= */
/* ============================== */
* {
  background-color: rgba(255, 0, 50, 0.2);
  margin: 0;
  padding: 0;
}
:root {
  --blue: #009cdf;
  --white: #ffffff;
}
html {
  font-size: 16px;
}
body {
  background-color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 100%;
  width: 100%;
}
/* ================================ */
/* Grid containers =============== */
/* ============================== */
.row {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
}
[class^="col-"] {
  box-sizing: border-box;
  padding: 1em;
}
.col-1 {
  width: 8.3333%;
}
.col-2 {
  width: 16.6666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.3333%;
}
.col-5 {
  width: 41.6666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.3333%;
}
.col-8 {
  width: 66.6666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.3333%;
}
.col-11 {
  width: 91.6666%;
}
.col-12 {
  width: 100%;
}
.col-md-2 {
  width: 20%;
}
/* ================================ */
/* Main containers =============== */
/* ============================== */
#app {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
}
header,
nav {
  padding: 0.5em 0;
  width: 100%;
}
.logo {
  text-align: center;
}
.logo img {
  width: 100%;
}
nav {
  text-align: center;
}
nav ul.menu li {
  display: inline-block;
  padding: 0.5em 1em;
}
ul.menu {
  list-style: none;
}
main,
main.col-12 {
  display: flex;
  padding: 0;
}
#content {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
#content .col-4 {
  border: 4px var(--blue) solid;
  box-shadow: 0 0 0 4px var(--white) inset;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  position: relative;
}
#content .col-4:first-child {
  background-image: url("/dist/img/1__helloworld__markus-spiske-8OyKWQgBsKQ-unsplash_opt.jpg");
  position: relative;
  z-index: 1;
}
#content .col-4:first-child::before {
  content: "";
  display: inline-block;
  background-color: var(--blue);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
  z-index: 0;
  border: 10px red solid;
  box-sizing: border-box;
}
#content .col-4 h2 {
  position: relative;
}
aside.col-2 {
  padding: 0;
}
nav#secondary {
  text-align: left;
}
footer {
  text-align: center;
}
/* ================================ */
/* Typography ==================== */
/* ============================== */
.col-4 h2 {
  color: var(--white);
}
