/* ================================ */
/* Reset ========================= */
/* ============================== */
* {
  margin: 0;
  padding: 0;
}
:root {
  --blue: #009cdf;
  --lightblue: #cdeefc;
  --black: #000000;
  --white: #ffffff;
}
html {
  font-size: 16px;
}
body {
  background-color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 100%;
  width: 100%;
}
/* ================================ */
/* Typography ==================== */
/* ============================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--blue);
  text-transform: uppercase;
}
h1 {
  font-size: 4.25em;
}
h2 {
  font-size: 2.25em;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0.25em;
}
h3 {
  font-size: 1.75em;
}
p {
  line-height: 1.5;
}
a {
  color: var(--blue);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
a:hover {
  color: black;
}
ul.menu {
  list-style: none;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.65em;
  }
}
/* ================================ */
/* Grid containers =============== */
/* ============================== */
[class^="col-"] {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .row {
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
  }
  [class^="col-"] {
    padding: 1em;
  }
  .col-1 {
    width: 8.3333%;
  }
  .col-2 {
    width: 16.6666%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.3333%;
  }
  .col-5 {
    width: 41.6666%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.3333%;
  }
  .col-8 {
    width: 66.6666%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.3333%;
  }
  .col-11 {
    width: 91.6666%;
  }
  .col-12 {
    width: 100%;
  }
  .col-md-2 {
    width: 20%;
  }
}

/* ================================ */
/* Navigation ==================== */
/* ============================== */
.logo {
  float: left;
  text-align: left;
  width: 25%;
}
.logo img {
  width: 100%;
}
nav.nav.col-10 {
  position: absolute;
  top: -10px;
}
.nav-btn {
  display: none;
}
.nav-btn ~ .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: calc(100% + 30px);
  height: 0;
  text-align: center;
  padding: 4em 1em;
  position: absolute;
  top: 0;
  left: -15px;
  box-sizing: border-box;
  transition: all 500ms ease-in;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
.nav-btn:checked ~ .menu {
  background: rgba(255, 255, 255, 0.9);
  height: calc(100vh + 10px);
  opacity: 1;
  z-index: 1;
  transition: height 500ms ease-out;
  visibility: visible;
}
.nav-btn:checked ~ .nav-icon .navicon {
  background: transparent;
}
.nav-btn:checked ~ .nav-icon .navicon:before {
  transform: rotate(-45deg);
}

.nav-btn:checked ~ .nav-icon .navicon:after {
  transform: rotate(45deg);
}
.nav-btn:checked ~ .nav-icon .navicon:before,
.nav-btn:checked ~ .nav-icon .navicon:after {
  top: 0;
}
.nav-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 0;
  position: relative;
  user-select: none;
  z-index: 2;
}
.nav-icon .navicon {
  background: var(--black);
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 24px;
}
.nav-icon .navicon:before,
.nav-icon .navicon:after {
  background: var(--black);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.nav-icon .navicon:before {
  top: 8px;
}
.nav-icon .navicon:after {
  top: -8px;
}
ul#primary li {
  flex-basis: 100%;
  padding: 1em;
}
ul#primary li:hover a {
  color: var(--black);
}
ul#primary li a::after {
  content: "";
  display: block;
  position: relative;
  max-width: 0;
  height: 2px;
  bottom: -6px;
  left: calc(85% / 2);
  background-color: var(--blue);
  transition: max-width 500ms ease-in;
}
ul#primary li:hover a::after {
  display: block;
  max-width: 15%;
  height: 2px;
  transition: max-width 250ms ease-in;
}
nav#secondary {
  clear: both;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .logo img {
    max-width: 100%;
  }
  nav {
    width: 100%;
  }
  .nav-icon {
    display: none;
  }
  nav.nav.col-10 {
    position: relative;
    top: 0;
    text-align: center;
    left: 16.6666%;
  }
  .nav-btn ~ .menu {
    opacity: 1;
    padding: 1em 0;
  }
  nav ul#primary.menu::before {
    display: none;
  }
  nav ul#primary.menu,
  nav ul#primary.menu li {
    visibility: visible;
    width: 100%;
  }
  nav ul#primary.menu {
    height: 80px;
    background-color: transparent;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  nav ul#primary.menu li {
    display: inline;
    padding: 0.5em 1em;
    flex-basis: 10%;
  }
  ul#primary li:hover a::after {
    max-width: 100%;
    left: 0;
  }
}
/* ================================ */
/* Main containers =============== */
/* ============================== */
#app {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
}
header,
nav {
  padding: 0.5em 0;
  position: relative;
  width: 100%;
}
header {
  padding: 1em 0 2em;
  margin-bottom: 1em;
}
.row > .col-4,
.row > .col-8 {
  margin-bottom: 1.5em;
}
#content {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  margin-bottom: 2.5em;
  padding: 0.5em 0;
}
article {
  display: flex;
  flex-wrap: wrap;
}
article.row .col-4 {
  background-color: var(--blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  background-blend-mode: multiply;
  text-align: center;
  border: 4px var(--blue) solid;
  -webkit-box-shadow: 0 0 0 4px var(--white) inset;
  -moz-box-shadow: 0 0 0 4px var(--white) inset;
  box-shadow: 0 0 0 4px var(--white) inset;
  transition: all 300ms ease-in-out;
}
article.row:first-child .col-4 {
  background-image: url("/dist/img/1__helloworld__markus-spiske-8OyKWQgBsKQ-unsplash_opt.jpg");
}
article.row:nth-child(2) .col-4 {
  background-image: url("/dist/img/2__why__thisisengineering-raeng-8hgmG03spF4-unsplash_opt.jpg");
}
article.row:last-child .col-4 {
  background-image: url("/dist/img/3__about__thisisengineering-raeng-LxVzgYjkHp4-unsplash_opt.jpg");
}
article.row .col-4:hover {
  background-size: 170%;
}
article.row .col-4 h3 {
  color: var(--white);
  font-weight: 30;
  padding: 4px 0;
  text-transform: uppercase;
  text-shadow: 0 4px 8px #02151d;
  top: calc(50% - 3.5em);
  width: 100%;
}
article.row .col-8 {
  padding: 0;
}
article.row .col-4 {
  display: flex;
  align-items: center;
  height: 25vh;
  order: 1;
}
article.row > .col-8 {
  order: 2;
}
article a {
  display: inline-block;
  position: relative;
}
article a::after {
  background-color: var(--blue);
  content: "";
  display: block;
  position: relative;
  max-width: 0;
  height: 2px;
  top: 0.5em;
  transition: max-width 500ms ease-in;
}
article a:hover::after {
  max-width: 100px;
}
/* ================================ */
/* Sidebar ======================= */
/* ============================== */
aside.col-2 {
  width: 100%;
  padding: 0;
  position: relative;
  left: 0;
}
aside nav {
  overflow: scroll;
  overflow-y: hidden;
  box-sizing: border-box;
  scroll-snap-type: x proximity;
  padding: 1em 0;
}
aside ul.menu {
  background-color: var(--lightblue);
  list-style: none;
  display: inline-grid;
  grid-auto-flow: column;
  grid-column-gap: 0;
  height: 5em;
}
aside .menu li {
  align-self: start;
  padding: 0.5em 1em;
  width: 50vw;
}
aside .menu a {
  hyphens: auto;
}
@media screen and (min-width: 1024px) {
  aside.col-2 {
    width: 16.6666%;
  }
  aside nav {
    padding-top: 0;
  }
  nav#secondary {
    overflow: hidden;
  }
  aside nav ul {
    display: block;
    padding: 0.75em 0;
  }
  aside ul.menu {
    display: block;
    height: auto;
  }
  aside .menu li {
    width: auto;
  }
}
/* ================================ */
/* Footer ======================== */
/* ============================== */
footer.col-12 {
  background-color: var(--blue);
  padding: 1.5em 0 2em;
  text-align: center;
}
footer .row {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1em;
  justify-content: flex-start;
}
footer .row .col-md-2 {
  flex: 0 0 calc(50% - 15px);
  padding: 8px 0;
}
footer .row .col-md-2:last-of-type {
  align-self: flex-end;
}
footer a {
  color: var(--white);
}
@media screen and (min-width: 1024px) {
  header {
    height: 80px;
    padding: 1.5em 0 3em;
    margin-bottom: 0;
  }
  .logo {
    width: 16.6666%;
  }
  main,
  main.col-12 {
    display: flex;
    padding: 0;
  }
  #content {
    padding: 0 15px;
  }
  article.row .col-4 {
    background-size: 160%;
  }
  article.row .col-4 {
    height: 250px;
  }
  article.row > .col-8 {
    order: 1;
  }
  footer .row .col-md-2 {
    flex: 1 calc(20% - 1em);
  }
}
